body {
    margin: 0;
    background: radial-gradient(circle at top, #0f172a, #020617);
    color: #e5e7eb;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #020617;
    border-bottom: 1px solid #1f2937;
}

.logo {
    font-size: 24px;
    color: #39ff14;
}

.logo span {
    color: #ff3131;
}

nav a {
    margin-left: 20px;
    color: #e5e7eb;
    text-decoration: none;
}

nav .btn {
    color: #39ff14;
}

/* HERO */
.hero {
    text-align: center;
    margin-top: 100px;
}

.hero input {
    width: 420px;
    padding: 12px;
    background: #020617;
    border: 1px solid #39ff14;
    color: #39ff14;
}

.hero button {
    padding: 12px 25px;
    background: #39ff14;
    border: none;
    margin-left: 10px;
    font-weight: bold;
}

/* AUTH */
.auth-box {
    width: 350px;
    margin: 120px auto;
    background: #020617;
    padding: 30px;
    border: 1px solid #1f2937;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 120px;
    border-top: 1px solid #1f2937;
}