<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhishGuard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <div class="logo">PHISH<span>GUARD</span></div>
    <nav>
        <a href="/">Scan</a>
        {% if session.get("user") %}
            <span class="user">Hi, {{ session["user"] }}</span>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Sign In</a>
            <a href="/register" class="btn">Sign Up</a>
        {% endif %}
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>© 2026 PhishGuard | Cybersecurity Project</p>
</footer>

</body>
</html>
