<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhishGuard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header class="header">
    <div class="logo">
        Phish<span>Guard</span>
    </div>
    <nav>
        <a href="/">Scan</a>
        {% if session.get("user") %}
            <span class="user">{{ session["user"] }}</span>
            <a href="/logout" class="danger">Logout</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/register" class="neon">Register</a>
        {% endif %}
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer class="footer">
    <p>© 2026 PhishGuard • Cyber Threat Intelligence Platform</p>
</footer>

</body>
</html>
